{% set title = 'Merchdao Landing' %}
{% set classBody = '' %}

{% extends './_layout.html' %}
{% block content %}
  {% include "./sections/_limited.html" %}
  {% include "./sections/_about.html" %}
  {% include "./sections/_subscribe.html" %}
  {% include "./sections/_exclusive.html" %}
  {% include "./sections/_edition.html" %}
  {% include "./sections/_nft.html" %}
  {% include "./sections/_platform.html" %}
  {% include "./sections/_tokens.html" %}
  {% include "./sections/_reviews.html" %}
  {% include "./sections/_faq.html" %}
{% endblock %}
