.limited {
  --bg-size: auto;
  background: url(../img/name.svg) no-repeat 98% calc(0% + 82px) / var(--bg-size),
              url(../img/bg-1.svg) no-repeat, var(--bg-color);
  padding-top: 82px;
  padding-bottom: 150px;
  overflow: hidden;
  @media(max-width: 991px) {
    --bg-size: 55px;
    padding-bottom: 110px;
  }
  @media(max-width: 767px) {
    --bg-size: 44px;
  }
  @media(max-width: 369px) {
    background: url(../img/bg-1.svg) no-repeat, var(--bg-color);
  }
  &--about {
    --bg-size: auto;
    background: url(../img/name.svg) no-repeat 98% calc(0% + 82px) / var(--bg-size),
                url(../img/bg-3.svg) no-repeat top / 100% 500px, var(--bg-color);
    padding-bottom: 360px;
    overflow: hidden;
    .limited-info {
      text-align: center;
      padding-top: 96px;
      .limited-info__title {
        margin-bottom: 0;
      }
    }
    @media(max-width: 1151px) {
      padding-bottom: 305px;
    }
    @media(max-width: 991px) {
      padding-bottom: 120px;
      --bg-size: 55px;
      .limited-info {
        padding-top: 70px;
      }
    }
    @media(max-width: 767px) {
      --bg-size: 44px;
    }
    @media(max-width: 369px) {
      background: url(../img/bg-3.svg) no-repeat bottom / cover, var(--bg-color);
    }
  }
}

.limited__container {
  padding-top: 63px;
  max-width: 1002px;
}

.limited__grid {
  display: grid;
  grid-template-columns: 1fr 352px;
  column-gap: 68px;
  position: relative;
}

.limited-info {
  color: #fff;
}

.limited-info__subtitle {
  text-transform: uppercase;
}

.limited-info__title {
  margin-top: 8px;
  margin-bottom: 26px;
}

.limited-info__text {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--brown);
}

.limited-drag__top {
  background: url(../img/dots.svg) 12px 10px / contain, var(--white);
  // box-shadow: 0px 4px 84px rgba(0, 0, 0, 0.08);
  border-radius: 37px;
  padding: 24px;
  height: 432px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 87px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 256px;
    height: 120px;
    background-image: var(--gradient-1);
    border-radius: 40px;
    box-shadow: 0px 25px 50px #FBBC6E;
  }
  &::after {
    content: '';
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
    width: 113px;
    height: 113px;
    border-radius: 50%;
    border: 1px solid var(--white);
  }
}

.limited-drag {
  padding-bottom: 60px;
  &--glass {
    .limited-drag__img {
      top: 130px;
    }
  }
  &--sock {
    .limited-drag__img {
      top: 70px;
    }
  }
  &--tshirt {
    .limited-drag__img {
      top: 57px;
    }
  }
}

.limited__btns {
  display: flex;
  justify-content: space-between;
}

.limited-drag__img {
  position: absolute;
  z-index: 1;
  flex-shrink: 0;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -5px;
  max-width: initial;
}

.limited-wrapper {
  width: 1500px;
  overflow: hidden;

}

.merch-slider {
  .swiper-slide {
    width: 342px;
  }
}



@media(max-width: 1151px) {
  .limited__grid {
    column-gap: 35px;
  }
}

@media(max-width: 991px) {
  .limited__grid {
    grid-template-columns: 100%;
    row-gap: 30px;
  }
  .limited__container {
    padding-top: 40px;
  }
  .limited-info__title {
    margin-bottom: 20px;
  }
  .limited-info__text {
    margin-bottom: 25px;
  }
  .limited-drag__img {
    margin-left: -8px;
    transform: translateX(-50%) scale(0.9);
  }
  .limited-drag {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }
}

@media(max-width: 767px) {
  .merch-slider .swiper-slide {
    width: 100%;
  }
  .limited-drag {
    max-width: initial;
  }

  .limited-wrapper {
    width: 100%;
  }
}
