:root {
  --main-font: 'Rubik', sans-serif;
	--bg-color: var(--lite-gray);
  --brown: #62514B;
  --white: #ffffff;
  --rose: #F9738B;
  --yellow: #FBC46B;
  --gray: #C4C4C4;
  --gray-2: #4f4f4f;
  --lite-gray: #fbfbfb;
  --gradient-1: linear-gradient(90deg, #F96D8C 0%, #FBD862 100%);
  --gradient-2: linear-gradient(84.58deg, #FFA9BC -12.37%, #FFF1C2 80.28%);
  --box-shadow: 3px 4px 0px #FAA179;
  --gap: 30px;
}
